{{define "title"}}Admin Page{{end}}

{{ define "content" }}
<div class="row">
    <div class="col-lg-12">
        <h1>Profile Overview</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <p>Total profiles: {{ .Stats.PlayerCount }}</br>
        Total profiles to be synced: {{ .Stats.StalePlayerCount }}</br>
        Oldest player sync: {{ .Stats.OldestPlayerSync.Format "Jan, 2 2006 15:03" }} ({{.SinceOldestUpdate}})</p>
    </div>
    <div class="col-lg-6">
        <table class="table">
            <tr>
                <th>Profile</th>
                <th>Last Update</th>
                <th>Options</th>
            </tr>
            {{ range .StalePlayers }}
            <tr>
                <td>
                    <a href="https://swgoh.gg/u/{{.Key.StringID}}" target="_blank">{{.Key.StringID}}</a>
                </td>
                <td>{{.LastUpdate.Format "Jan, 2 2006 15:03"}}</td>
                <td>
                    <a href="/v1/profile/{{.Key.StringID}}?fullUpdate=true&amp;ts={{$.Now}}" target="_blank">Force Sync</a>
                </td>
            </tr>
            {{ else }}
            <tr>
                <td colspan="2">No stale profiles!</td>
            </tr>
            {{ end }}
        </table>
    </div>
</div>
{{ end }}